
<div class="banner ">
  <div class="banner-content justify-content-center">
  <%=image_tag "SimPool logo - detoured.png", alt: "SimPool logo", id: "banner-logo" %>
  </div>
  <div class="banner-content banner-body">
    <h1 class="fs-2 text-center">Rent somebody's pool. Rent your pool to others.</h1>
    <h2>
      <%= link_to "Choose a pool", "#pools", class: "button-main", id: "banner-btn" %>
     or
      <%= link_to "Rent your pool", new_pool_path, class: "button-main", id: "banner-btn" %>
    </h2>
  </div>
</div>


<div class= "pools-grid" id="pools">
  <% @pools.each do |pool| %>
    <%= link_to pool_path(pool), class: "nav-link" do %>
      <div class="card rounded" style="width: 18rem;">
        <% counter = ['sun', 'cocktail', 'sunglasses', 'hat', 'summer', 'swimming'] %>
        <img src="https://source.unsplash.com/random/?pool,<%= counter.sample %>">
        <div class="card-body">
          <h5 class="card-title"><%= pool.title.nil? ? "Amazing pool, perfect for all your summer parties!" : pool.title %></h5>
          <p><%= pool.price %> €</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
