
<div class="banner ">
  <div class="banner-content justify-content-center">
  <%=image_tag "SimPool logo - detoured.png", alt: "SimPool logo", id: "banner-logo" %>
  </div>
  <div class="banner-content banner-body">
    <h1 class="fs-2 text-center">Rent somebody's pool. Rent your pool to others.</h1>
    <h2>
      <%= link_to "Choose a pool", "#pools", class: "button-main", id: "banner-btn" %>
     or
      <%= link_to "Rent your pool", new_pool_path, class: "button-main", id: "banner-btn" %>
    </h2>
  </div>
</div>


<div class= "pools-grid" id="pools">
  <% @pools.each do |pool| %>
    <%= link_to pool_path(pool), class: "nav-link" do %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag pool.images.first.key, crop: :fill %>
        <div class="card-body">

          <h5 class="card-title"><%= pool.title.nil? ? "Amazing pool, perfect for all your summer parties!" : pool.title %></h5>
          <p><i class="fa-solid fa-euro-sign"></i><%= pool.price %> €</p>
          <% if pool.user_id == current_user.id %>
            <p><i class="fa-solid fa-face-smile-wink"></i> My pool</p>
          <%# <% elsif pool.booking.user_id == current_user.id && pool.booking.status == "accepted" %>
            <%# <p><i class="fa-solid fa-square-check"></i> Booked</p> %>
          <%# <% elsif pool.booking.user_id == current_user.id && pool.booking.status == "pending" %>
            <%# <p>Booking pending ...</p> %>
          <% else %>
            <p>Book now <i class="fa-solid fa-chevron-right"></i></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
