<div class = "container pt-5">
  <div class = "row justify-content-center">
    <div class="col-12 col-lg-8">
      <h3> Create a listing </h3>
      <%= simple_form_for @pool do |f| %>
      <div class="d-flex">
        <div>
          <%= f.input :address, label: "Where is your pool?" %>
          <%= f.input :size, label: "What size is your pool?" %>
          <%= f.input :price, label: "How much will it be?" %>
          <%= f.input :images, label: "Add an image" %>
          </div>
          <div>
          <%= f.input :details, label: "Add a description", class: "description-input", input_html: { placeholder: "How many people fit in your pool?" } %>


          <%= f.submit "Put Online!", class: "btn btn-primary mt-4" %>
          </div>
      </div>
        <% end %>
      </div>
  </div>
</div>
