<%# if current_user == @pool.user_id  ---- display admin view %>

<%# cloudinary current status: 1/ can't display more than 3 pictures in total 2/need a dichotomy between active-inactive %>
<div class="container">
  <% if @pool.images.exists? %>
    <div id="carouselTailored" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTailored" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTailored" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselTailored" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/?pool" class="d-block w-100" alt="...">
        </div>
        <% @pool.images.each do |image| %>
          <div class="carousel-item">
            <%# <img src="https://source.unsplash.com/random/?pool,sun" class="d-block w-100" alt="..."> %>
            <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselTailored" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselTailored" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/?pool" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/?pool,sun" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/?pool,summer,swimming" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

  <div class="container mb-5">
    <div class="details rounded">
      <%# <div class="row row-cols-2"> %>
          <%# <div class="col"> %>
            <div class="m-5">
                <ul class="list-group">
<<<<<<< HEAD
                  <li class="show-list list-group-item border rounded-4 m-3 p-4 fs-4 text-center"><strong><%= @pool.title.nil? ? "Amazing Pool, perfect for all your pet parties!!" : @pool.title %></strong></li>
                  <li class="show-list list-group-item border p-4 rounded-4 m-3"><strong>Address:</strong><br><%= @pool.address %></li>
                  <li class="show-list list-group-item border p-4 rounded-4 m-3"><strong>Price:</strong> <br>starting from <%= @pool.price %> € / day</li>
=======
                  <li class="list-group-item border bg-primary-subtle rounded-4 m-3 p-4 fs-4 text-center"><strong><%= @pool.title.nil? ? "Amazing Pool, perfect for all your pet parties!!" : @pool.title %></strong></li>
                  <li class="list-group-item border bg-primary-subtle rounded-4 m-3 p-4 fs-4 text-center"><%= @pool.details %></li>
                  <li class="list-group-item border bg-light p-4 rounded-4 m-3"><strong>Address:</strong><br><%= @pool.address %></li>
                  <li class="list-group-item border bg-light p-4 rounded-4 m-3"><strong>Price:</strong> <br>starting from <%= @pool.price %> € / day</li>
>>>>>>> master
                </ul>
            </div>
          <%# </div> %>
        <%# </div> %>
    </div>

    <% if current_user.id == @pool.user_id %>
      <%= link_to "See my bookings", pool_bookings_path(@pool), class: "btn btn-primary fs- 3 fw-bold rounded-pill mb-5" %>
    <% else %>
      <div class="details bg-light p-4 rounded-4">
        <%# <div class="row row-cols-2"> %>
          <%# <div class="col"> %>
            <div class="mb-5 p-3">
              <%= simple_form_for [@pool, @booking], defaults: { label_html: { class: 'fw-bold' }, input_html: { class: 'show-list rounded-4' } } do |f| %>
                <%= f.input :start_date, as: :date %>
                <%= f.input :end_date, as: :date %>
                <%= f.input :details, as: :select, collection: ['pets', 'toys', 'food & beverage']  %>
                <%= f.button :submit, "Book now!", class: "button-main" %>
              <% end %>
            </div>
          <%# </div> %>
        <%# </div> %>
      </div>
    <% end %>
  </div>
</div>
