<div class="container mb-5">
  <% if @bookings.any?%>
    <% @bookings.each do |booking| %>
      <div class="w-50 m-3">
        <ul class="list-group rounded-4">
          <li class="list-group-item bg-light"><strong>Starting on:</strong> <%= (booking.start_date).strftime("%-d %B %Y") %></li>
          <li class="list-group-item bg-light"><strong>Ending on:</strong> <%= (booking.end_date).strftime("%-d %B %Y") %></li>
          <li class="list-group-item bg-light"><strong>Total duration:</strong> <%= @duration = (booking.end_date - booking.start_date).fdiv(86400).numerator %>
          <% if @duration == 1 %>
            <%= 'day' %>
          <% else %>
            <%= 'days' %>
          <% end %></li>
          <li class="list-group-item border bg-light p-4 rounded-4 m-3"><strong>Daily price:</strong> <%= @pool.price %> €</li>
          <li class="list-group-item border bg-light p-4 rounded-4 m-3"><strong>Total price:</strong> <%= @pool.price * @duration %> €</li>
          <li class="list-group-item border bg-light p-4 rounded-4 m-3"><strong>Booking status:</strong> <%= booking.status %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <li class="list-unstyled m-3 p-4 fs-3 text-center"><h2> You have no bookings  <i class="fa-solid fa-face-sad-cry"></i></h2>
  <% end %>
  <%= link_to "Back", pool_path(@pool), class: "button-main", id: "banner-btn" %>
</div>
<div class="footer px-3 mt-5">
</div>
